.contacts {
    margin-top: 3.4rem;
    margin-right: 2.8rem;
    padding: 0;
    
    text-align: right;
    list-style: none;

    &--modal {
        margin-top: 1.2rem;
        margin-right: 0;
    }
}

.contacts__mail-number {
    margin-bottom: 1.13rem;
}

.contacts__address {
    margin-bottom: 1.13rem;
}

.contacts__by {
    margin: 0;
}

.contacts__link {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $pink;
    }
}