.footer {
    padding-left: 10rem;
    padding-right: 10rem;

    background-color: $gray_dark;
}

.footer__left-right {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
}

.footer__logo-sponsor {
    display: flex;
    
    margin-top: 2.8rem;
}

.footer__sponsor {
    display: block;
    margin-top: .25rem;
}

.footer__sponsor-link {
    text-decoration: none;
    color: $pink;

    margin-left: 6.4rem;
    padding: .4rem 2rem;
    
    background: #FFDC98;

    font-size: 1.2rem;
    font-weight: 800;
    
    cursor: pointer;

    transition: background .1s linear, color .1s linear;

    &:hover {
        color: $white;
        background-color: $pink;
    }
}


.footer__left-text {
    margin: 0;
    padding-top: 3.3rem;
    padding-bottom: 1.8rem;

    font-size: 1rem;
    line-height: 1.2rem;

    color: $white;
}

.footer__right {
    display: flex;

    font-size: 1rem;

    color: $white;
}
