<header class="header">
    <div class="header__inner header__fixed">

        <div class="row">
            <div class="col-lg-2">
                <a class="logo" href="index.html">
                    BANYA
                </a>
            </div>

            <div class="col-lg-8">
                <nav class="nav">
                    <a class="nav__link" href="#banya">Баня</a>
                    <a class="nav__link" href="#relax-zone">Зона отдыха</a>
                    <a class="nav__link" href="#pool">Бассейн</a>
                    <a class="nav__link" href="#prices">Услуги и цены</a>
                    <a class="nav__link" href="#photos">Фото</a>
                    <a class="nav__link" href="#contacts">Контакты</a>
                </nav>
            </div>

            <div class="col-lg-2">
                <nav class="phone">
                    <a class="phone__item" href="tel:+78442111111">
                        +7 (8442) 11-11-11
                    </a>
                </nav>
            </div>
        </div> <!-- /.row -->

    </div> <!-- /.header__inner -->
</header>