$pink: #ff7c7c;
$white: #FFFFFF;
$black: #000000;
$gray: #8C8C8C;
$gray_dark: #333333;
$smoke: #FFF4F4;
$radius: 10px;
$radius_sm: 5px;
$shadow: 10px 15px 4px rgba(0, 0, 0, 0.25);


// Bootstrap Modal
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;